header#main-header{
    width: 100%;
    height: 60px;
    background: rgb(113, 89, 193);
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}